// ----------------------- COLORS ---------------------------
$black: #000000;
$green: #3fd581;

// --------------------- FONT FAMILY ---------------------
$fonts-weight: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
  "SuperBold": 900,
);

$fonts-sizes: (
  "s-extra-small": 12px,
  "s-small": 14px,
  "s-small-regular": 16px,
  "s-regular": 18px,
  "s-extra-regular": 20px,
  "s-medium": 25px,
  "s-extra-medium": 50px,
  "s-large": 80px,
  "s-extra-large": 100px,
);
